Package: AltLinux
Name: AltLinux
Version: 0.4.2-2
Architecture: all
Author: maxasix <maxasix@disroot.org>
Maintainer: maxasix <maxasix@disroot.org>
Description: GUI for AltServerLinux
Homepage: https://github.com/maxasix/AltLinux
Depends: binutils, python3 (>= 3.8), gir1.2-appindicator3-0.1, usbmuxd, libimobiledevice6, libimobiledevice-utils, libavahi-compat-libdnssd-dev, unzip, usbutils, libhandy-1-0, libhandy-1-dev, curl
